@import url("fontello/css/fontello.css");

body {
	background-color: white;
	padding: 0;
	margin: 0;
	font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @group Global navigation */

#global-nav a {
	position: absolute;
	width: 188px;
	height: 188px;
	z-index: 2;
	overflow: hidden;
	text-indent: -1000px;
}

#global-nav a:hover {
	background-color: white;
	opacity: 0.06;
}

#global-nav a.info {
	z-index: 2;
	position: absolute;
	top: 388px;
}

#global-nav a.contact {
	z-index: 2;
	position: absolute;
	left: 770px;
}



/* @end */

/* @group Main  */

#menu {
	width: 958px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f8aa33;
	padding-top: 4px;
	padding-left: 4px;
	overflow: hidden;
	border: 20px solid white;
	position: relative;
}

#menu:before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	border: 4px solid white;
}



/* @end */

/* @group Tile general */

.tile {
	box-sizing: border-box;
	text-align: center;
	float: left;
	margin: 0 4px 4px 0;
	outline: 4px white solid;
	background-color: #6b6557;
	color: white;
	padding: 15px;
	width: 188px;
	height: 188px;
	line-height: 160px;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: all 0.3s;
}

.tile h2 {
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	margin-top: 0;
	line-height: inherit;
}

/* @end */

/* @group Tile: Logo */

#logo {
	width: 380px;
	height: 380px;
	background-image: url(logo-invert.svg);
	background-position: center 55px;
	background-repeat: no-repeat;
	padding-top: 268px;
	color: white;
	overflow: hidden;
	line-height: 30px;
}

#logo h1 {
	position: absolute;
	left: -1000px;
}

/* @end */

/* @group Tile: Contact */

#contact {
	float: right;
}

#contact:target {
	width: 570px;
	z-index: 3;
	height: 380px;
}



/* @end */

/* @group Tile: Lifestyle image */

#lifestyle-image {
	height: 380px;
	width: 570px;
	float: right;
}



/* @end */

/* @group Tile: Info */

#info {
	/*margin-top: -192px;*/
}



/* @end */

/* @group Tile: Menu */

#food {
	margin-top: -192px;
	margin-left: 192px;
}



/* @end */

/* @group Tile: Lifestyle image */

#food-image {
	height: 570px;
	width: 570px;
}



/* @end */

/* @group Tile: Building image */

#building-image {
	height: 380px;
	width: 380px;
	margin-top: 190px;
}



/* @end */
