@import url("fontello/css/fontello.css");

body {
	background-color: #5e5758;
	padding: 0;
	margin: 0;
}

/* @group Main  */

#menu {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f8aa33;
	padding-top: 10px;
	padding-left: 10px;
}



/* @end */
