@import url("fontello/css/fontello.css");

body {
	background-color: #5e5758;
	padding: 0;
	margin: 0;
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @group Main  */

#menu {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f8aa33;
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
}



/* @end */

#logo {
	width: 290px;
	height: 290px;
	background-image: url(logo-invert.svg);
	background-position: center 15px;
	background-repeat: no-repeat;
	padding-top: 220px;
	color: white;
	overflow: hidden;
	line-height: 30px;
}

#logo h1 {
	position: absolute;
	left: -1000px;
}

.tile {
	box-sizing: border-box;
	text-align: center;
	float: left;
	margin: 0 10px 10px 0;
	outline: 10px white solid;
	background-color: #6b6557;
	color: white;
	padding: 15px;
	width: 140px;
	height: 140px;
	line-height: 110px;
	font-size: 16px;
}

.tile h2 {
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	margin-top: 0;
	line-height: inherit;
}
