---
layout: shell
title: Welcome to foodbar U6!
---
	
		<div id="menu" class="pat-auto-scale" data-pat-auto-scale="method: zoom">
			<nav id="global-nav">
				<a class="contact" href="#contact">Contact</a>
				<a class="info" href="#info">Info</a>
				<a class="menu" href="#menu">Menu</a> 
			</nav>
			<section id="#info">
				<hgroup class="tile" id="logo">
					<h1>
						Restaurant U6
					</h1>
					<H2>Food + Drinks</H2>
				</hgroup>
				<section class="tile" id="contact">
					<h2>Contact</h2>
					<p>
						…
					</p>
				</section>
				<figure id="lifestyle-image">
					…
				</figure>
				<section class="tile" id="info">
					<h2>
						Info
					</h2>
<pre class="pat-markdown">
{% include info.markdown %}
</pre>
				</section>
				<section class="tile" id="food">
					<h2>
						Menu
					</h2>
<pre class="pat-markdown">
{% include menu.md %}
</pre>
				</section>
			</section>
	    </div>