---
layout: shell
title: Welcome to restaurant U6!
---
	
		<div id="menu">
			<nav id="global-nav">
				<a class="contact" href="#contact">Contact</a>
				<a class="info" href="#info">Info</a>
				<a class="menu" href="#menu">Menu</a> 
			</nav>
			<section id="info">
				<hgroup class="tile" id="logo">
					<h1>
						<a href="#home">Restaurant U6</a>
					</h1>
					<h2>Food + Drinks</h2>
				</hgroup>
				<section class="tile" id="contact">
					<h2>Contact</h2>
					<p class="tel">
						<a href="tel:+310202211598">+31 (0) 20 221 15 98</a>
					</p>
					<p class="email">
						<a href="mailto:info@u-6.nl">info@u-6.nl</a> 
					</p>

					<p class="address">
						Utrechtstestraat 6<br/>
						Amsterdam, The Netherlands 
					</p>
				</section>
				<figure class="tile" id="lifestyle-image">	
					<img src="{{ site.media }}/lifestyle-1.jpg" />
				</figure>
				<section class="tile" id="about">
					<h2>
						Info
					</h2>
					<section>
{% capture info %}{% include info.md %}{% endcapture %}
{{ info | markdownify }}
					</section>
				</section>
				<section class="tile" id="food">
					<h2>
						Menu
					</h2>
					<section>
{% capture menu %}{% include menu.md %}{% endcapture %}
{{ menu | markdownify }}
					</section>
				</section>
				<figure class="tile" id="food-image">
					<img src="{{ site.media }}/food-1.jpg" />
				</figure>
				<div class="tile" id="building-image">
					<iframe width="380" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Utrechtsestraat%2B6%2C%2BAmsterdam&ie=UTF8&z=14&t=p&iwloc=near&output=embed"></iframe>
				</div>
			</section>
	    </div>